@import "agesci-palette/_palette";

@import url("https://use.typekit.net/nag2xja.css");

$accent: "purple-1" !default;
$accent_color: map-get($palette, "agesci-#{$accent}");

$theme-colors: (
    "primary": $accent_color,
    "light": map-get($palette, "agesci-secondary-grey"),
    "secondary": map-get($palette, "agesci-secondary-blue"),
);

$navbar-dark-color: rgba($accent_color, .8);
$navbar-dark-hover-color: rgba($accent_color, .75);
$navbar-dark-active-color: $accent_color;
$navbar-dark-disabled-color: rgba($accent_color, .5);
$navbar-dark-toggler-border-color: rgba($accent_color, .1);
$navbar-light-color: rgba($accent_color, .8);
$navbar-light-hover-color: rgba($accent_color, .9);
$navbar-light-active-color: rgba($accent_color, .9);
$navbar-light-disabled-color: rgba($accent_color, .5);
$navbar-light-toggler-border-color: rgba($accent_color, .1);

$jumbotron-bg: map-get($palette, "agesci-secondary-yellow");

$dropdown-color: $accent_color;
$dropdown-border-color: rgba($accent_color, .15);
$dropdown-link-color: $navbar-light-color;
$dropdown-link-hover-color: $navbar-light-hover-color;
$dropdown-link-active-color: $navbar-light-active-color;

@import "bootstrap4/scss/bootstrap";

html,
body {
    font-family: "roboto-slab", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

body {
    background-color: map-get($palette, "agesci-purple-1");
    background-image: url(res/trattini.png);
}

body.walking-bg {
    background-image: url(res/sfondo.png);
    background-size: cover;
    background-position: center;
}

.container {
    background-color: rgba(map-get($palette, "agesci-secondary-grey"), .85);
    border-radius: .2em;
}

div.container {
    margin-top: 1rem;
    /*min-height: calc(100vh - 6rem);*/
    padding-bottom: 1rem;
}